(
    id: "alchemical_collector",
    function: Some("machine"),
    category: Some("producer"),
    data: ({
        "tile_model": Id("tile/alchemical_collector"),
        "scripts": VecId([
            "alchemical_collector/black_matter",
        ]),
    }),
)
