(
    id: "alchemical_collector",
    script: "machine",
    category: "producer",
    data: {
        "tile_model": Id("tile/alchemical_collector"),
        "base_model": Id("tile/base/producer"),
        "recipes": IdList([
            "alchemical_collector/black_matter",
        ]),
    },
)
