(
    id: "basic_extractor",
    function: Some("machine"),
    category: Some("producer"),
    data: ({
        "tile_model": Id("tile/basic_extractor"),
        "base_model": Id("tile/base/producer"),
        "scripts": VecId([
            "basic_extractor/white_matter",
        ]),
        "core:default_tile": Bool(true),
    }),
)
