(
    id: "basic_extractor",
    script: "machine",
    category: "producer",
    data: {
        "tile_model": Id("tile/basic_extractor"),
        "base_model": Id("tile/base/producer"),
        "recipes": IdList([
            "basic_extractor/white_matter",
        ]),
        "core:default_tile": Bool(true),
    },
)
