(
    id: "basic_compressor_fire",
    instructions: (
        inputs: Some([
            ("gray_matter", 4),
            ("red_matter", 16),
        ]),
        output: [
            ("fire", 4),
        ],
    ),
)