(
    id: "basic_compressor_order",
    instructions: (
        inputs: Some([
            ("gray_matter", 4),
            ("white_matter", 16),
        ]),
        output: [
            ("order", 4),
        ],
    ),
)