(
    id: "basic_compressor/water",
    instructions: (
        inputs: Some([
            ("gray_matter", 4),
            ("blue_matter", 16),
        ]),
        output: [
            ("water", 4),
        ],
    ),
)