(
    id: "alchemical_cauldron",
    function: Some("machine"),
    category: Some("alchemy"),
    data: ({
        "tile_model": Id("tile/alchemical_cauldron"),
        "scripts": VecId([
            "alchemical_cauldron/aqua_regia",
            "alchemical_cauldron/gold_powder",
            "alchemical_cauldron/gunpowder",
            "alchemical_cauldron/moon_water",
        ]),
    }),
)
