(
    id: "alchemical_cauldron",
    script: "machine",
    category: "alchemy",
    data: {
        "tile_model": Id("tile/alchemical_cauldron"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "alchemical_cauldron/aqua_regia",
            "alchemical_cauldron/gold_powder",
            "alchemical_cauldron/gunpowder",
            "alchemical_cauldron/moon_water",
        ]),
    },
)
