(
    id: "alchemical_grinder",
    function: Some("machine"),
    category: Some("alchemy"),
    data: ({
        "tile_model": Id("tile/alchemical_grinder"),
        "scripts": VecId([
            "alchemical_grinder/gravel",
            "alchemical_grinder/sulfur_dust",
            "alchemical_grinder/sun_stone",
        ]),
    }),
)
