(
    id: "alchemical_grinder",
    script: "machine",
    category: "alchemy",
    data: {
        "tile_model": Id("tile/alchemical_grinder"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "alchemical_grinder/gravel",
            "alchemical_grinder/sulfur_dust",
            "alchemical_grinder/sun_stone",
        ]),
    },
)
