(
    id: "alchemical_sieve",
    function: Some("machine"),
    category: Some("alchemy"),
    data: ({
        "tile_model": Id("tile/alchemical_sieve"),
        "base_model": Id("tile/base/crafting"),
        "scripts": VecId([
            "alchemical_sieve/gravel",
        ]),
    }),
)
