(
    id: "alchemical_sieve",
    script: "machine",
    category: "alchemy",
    data: {
        "tile_model": Id("tile/alchemical_sieve"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "alchemical_sieve/gravel",
        ]),
    },
)
