(
    id: "alchemical_still",
    function: Some("machine"),
    category: Some("alchemy"),
    data: ({
        "tile_model": Id("tile/alchemical_still"),
        "scripts": VecId([
            "alchemical_still/aqua_fortis",
            "alchemical_still/dirt",
            "alchemical_still/tar",
        ]),
    }),
)
