(
    id: "alchemical_grinder/gravel",
    instructions: (
        inputs: Some([
            ("earth", 2),
            ("dirt", 2),
        ]),
        output: [
            ("gravel", 2)
        ],
    ),
)