(
    id: "alchemical_grinder/sulfur_dust",
    instructions: (
        inputs: Some([
            ("earth", 2),
            ("coal_dust", 32),
        ]),
        output: [
            ("sulfur_dust", 8),
        ],
    ),
)