(
    id: "alchemical_grinder/sun_stone",
    instructions: (
        inputs: Some([
            ("earth", 128),
            ("black_matter", 2048),
        ]),
        output: [
            ("sun_stone", 32)
        ],
    ),
)