(
    id: "alchemical_assembler",
    script: "machine",
    category: "assembler",
    data: {
        "tile_model": Id("tile/alchemical_assembler"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "alchemical_assembler/melanose_stone",
        ]),
    },
)
