(
    id: "alchemical_assembler",
    function: Some("machine"),
    category: Some("assembler"),
    data: ({
        "tile_model": Id("tile/alchemical_assembler"),
        "scripts": VecId([
            "alchemical_assembler/melanose_stone",
        ]),
    }),
)
