(
    id: "basic_assembler",
    script: "machine",
    category: "assembler",
    data: {
        "tile_model": Id("tile/basic_assembler"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "basic_assembler/white_mechwork",
            "basic_assembler/network_assembly",
            "basic_assembler/alchemical_assembly",
        ]),
    },
)
