(
    items: {
        "white_matter": "White Matter",
        "white_mechwork": "White Mechwork",
        "red_matter": "Red Matter",
        "green_matter": "Green Matter",
        "blue_matter": "Blue Matter",
        "brown_matter": "Brown Matter",
        "gray_matter": "Grey Matter",
        "lime_goo": "Lime Goo",
        "purple_goo": "Purple Goo",
        "fire": "§Ignis",
        "water": "§Aqua",
        "air": "§Aer",
        "earth": "§Terra",
        "order": "§Ordo",
        "chaos": "§Perditio",
        "network_assembly": "Networking Assembly",
    },
    tiles: {
        "node": "Node",
        "master_node": "Master Node",
        "merger": "Merger",
        "void": "Resource® Void™",
        "splitter_left": "Splitter (Left)",
        "splitter_right": "Splitter (Right)",
        "small_storage": "Small Storage",
        "basic_sorter": "Item Sorter",
        "basic_extractor": "Basic Extractor",
        "basic_assembler": "Basic Assembler",
        "basic_prism": "Basic Prism",
        "basic_mixer": "Basic Mixer",
        "basic_compressor": "Basic Compressor",
        "basic_furnace": "Basic Furnace",
    },
    scripts: {
        "white_matter": "White Matter",
        "white_mechwork": "White Mechwork",
        "basic_prism_white": "Split White",
        "basic_compressor_air": "Compress -> Aer",
        "basic_compressor_water": "Compress -> Aqua",
        "basic_compressor_fire": "Compress -> Ignis",
        "basic_compressor_earth": "Compress -> Terra",
        "basic_compressor_order": "Compress -> Ordo",
        "basic_furnace_brown": "Burn -> Brown Matter",
        "basic_furnace_gray": "Burn -> Grey Matter",
        "basic_mixer_purple_goo": "Mix -> Purple Goo",
        "basic_mixer_lime_goo": "Mix -> Lime Goo",
    },
    research: {
        "basic_assembler_name": "Colouragy - Basic Assembler",
        "basic_assembler_desc": "You wonder what lies inside those colours, and you wonder how you can utilize them...",
        "basic_assembler_done": "Ah, so these colours are somehow magically malleable... you can combine and shape them to make interesting things- well, more interesting than blobs of colours.",
        "basic_prism_name": "Colouragy - Basic Prism",
        "basic_prism_desc": "If they're *malleable*, are they *splittable*... Are there intrinsic relationships in colours?",
        "basic_prism_done": "Mhm, you were correct on this. These colours can be made up of different ones- colours add up 'brighter'- Red, Green and Blue make up the colour White. You wonder if there's other ways to split the colour... this should be enough for now though.",
        "basic_sorter_name": "Logistics - Basic Sorter",
        "basic_sorter_desc": "Machines like the Prism produce multiple items at once. Of course, you can simply only utilize one of them, but...",
        "basic_sorter_done": "You've devised a 'Sorter' Tile which can sort input- if the item matches, it proceeds to the direction the sorter points to; if not, it proceeds to the direction you've marked with an cross. You'll probably chain those to utilize all the outputs.",
        "basic_furnace_name": "Alchemy - Basic Furnace",
        "basic_furnace_desc": "Red Matter- it almost looks like it's burning- you wonder...",
        "basic_furnace_done": "Sure, it's red, it's hot and it... rocks? No matter, it does burn. You have created a simple device for that fuel to burn... other stuff. Hm, didn't some Prometheus guy... uh... you decide not to think about this too much.",
        "basic_compressor_name": "Alchemy - Basic Compressor",
        "basic_compressor_desc": "Grey Matter- when Blue Matter gets heated up- might have some uses?",
        "basic_compressor_done": "Aha, it seems that with some Grey Matter, you can 'compress' things. These ethereal... materials?- that you can create with this machine- seems to have some greater uses.",
        "basic_mixer_name": "Alchemy - Basic Mixer",
        "basic_mixer_desc": "Blue Matter- seems to dissolve and absort whatever it touches?",
        "basic_mixer_done": "You... honestly are not quite sure the uses for these gooey stuff. Maybe time will tell. Or if you had fingers, you could probably play with them.",
    },
    categories: {
        "basic_producer": "Basic Producer Tiles",
        "basic_processor": "Basic Processor Tiles",
        "transfer": "Trasnfer Tiles",
        "network": "Network Tiles",
        "utility": "Utility Tiles",
    },
    gui: {
        "info": "Information",
        "options": "Options",
        "player_menu": "Player Menu",
        "debug_menu": "Debug",
        "delete_map": "Delete Map",
        "load_map": "Load Map",
        "time_fmt": "%x at %r",
        "invalid_name": "Invalid Name!",
        "create_map": "Create Map",
        "error_popup": "Error",
        "tile_config": "Config",

        "options_graphics": "Graphics",
        "options_audio": "Audio",
        "options_gui": "GUI",
        "options_controls": "Controls",

        "tip_inventory": "Click on the items in the inventory to collect them into your own!",
        "tip_script": "A Script is like a 'recipe' for the Tile to operate on, it specifies what the Tile consumes and what it produces.",
        "tip_direction": "Which direction the Tile is facing. This means a Connection to another tile, whether it be an 'extraction' source or an 'output' destination.",
        "tip_link_destination": "Click on the button to start Linking, and then right click a Tile to link to one (of many) Destination.",

        "tip_search": "Filter with name...",
        "tip_search_script": "Filter with Script name...",
        "tip_search_item": "Filter with Item name...",

        "tile_config_inventory": "Inventory:",
        "tile_config_script": "Script:",
        "tile_config_direction": "Direction:",
        "tile_config_item_type": "Item Type:",
        "tile_config_capacity": "Storage Capacity:",

        "tile_config_empty_inventory": "... Empty. :(",

        "lbl_maps_loaded": "{maps_number} maps loaded",
        "lbl_delete_map_confirm": "This will permanently delete this map. Are you sure?",
        "lbl_pick_another_name": "Please pick another name.",
        "lbl_cannot_place_missing_item": "You need one '{}' item in order to place this tile",

        "btn_fedi": "Fedi",
        "btn_link_network": "Link Network!",
        "btn_confirm": "Ok",
        "btn_exit": "Quit",
        "btn_load": "Load",
        "btn_source": "Source",
        "btn_options": "Options",
        "btn_cancel": "Cancel",
        "btn_new_map": "New Map",
        "btn_play": "Play",
        "btn_delete": "Delete",
        "btn_unpause": "Unpause",

        "research_menu_title": "Researches",
        "player_inventory_title": "Player Inventory",
        "research_submit_items": "Submit items from inventory",
    },
    keys: {
        "cancel": "Cancel / Back / Pause",
        "pause": "Pause",
        "undo": "Undo",
        "redo": "Redo",
        "toggle_gui": "Toggle the gui",
        "player_menu": "Open player menu",
        "remove_tile": "Quick remove tile",
        "select_mode": "Select/group tiles",
        "hotkey": "Hotkey",
        "cut": "Cut",
        "copy": "Copy",
        "paste": "Paste",
    },
)
