(
    items: {
        "white_matter": "White Matter",
        "red_matter": "Red Matter",
        "green_matter": "Green Matter",
        "blue_matter": "Blue Matter",
        "brown_matter": "Brown Matter",
        "gray_matter": "Grey Matter",
        "black_matter": "Black Matter",
        "lime_goo": "Lime Goo",
        "purple_goo": "Purple Goo",
        "fire": "§Ignis",
        "water": "§Aqua",
        "air": "§Aer",
        "earth": "§Terra",
        "order": "§Ordo",
        "chaos": "§Perditio",
        "white_mechwork": "White Mechwork",
        "network_assembly": "Networking Assembly",
        "alchemical_assembly": "Alchemical Assembly",
        "tar": "Tar",
        "sal_ammoniac": "Sal Ammoniac",
        "aqua_fortis": "Aqua Fortis",
        "aqua_regia": "Aqua Regia",
        "dirt": "Dirt",
        "gravel": "Gravel",
        "gold_scrap": "Gold Scrap",
        "silver_scrap": "Silver Scrap",
        "iron_scrap": "Iron Scrap",
        "copper_scrap": "Copper Scrap",
        "tin_scrap": "Tin Scrap",
        "coal_dust": "Coal Dust",
        "niter_dust": "Niter Dust",
        "sulfur_dust": "Sulfur Dust",
        "salt": "Salt",
        "gold_powder": "Gold Powder",
        "gunpowder": "Gunpowder",
        "moon_water": "Moon Water",
        "sun_stone": "Sun Stone",
        "melanose_stone": "Melanose Stone",
        "leucose_stone": "Leucose Stone",
        "xanthose_stone": "Xanthose Stone",
        "philosophers_stone": "Philosopher's Stone",
    },
    tiles: {
        "node": "Node",
        "master_node": "Master Node",
        "merger": "Merger",
        "void": "Resource® Void™",
        "splitter_left": "Splitter (Left)",
        "splitter_right": "Splitter (Right)",
        "small_storage": "Small Storage",
        "basic_sorter": "Item Sorter",
        "basic_extractor": "Basic Extractor",
        "basic_assembler": "Basic Assembler",
        "basic_prism": "Basic Prism",
        "basic_mixer": "Basic Mixer",
        "basic_compressor": "Basic Compressor",
        "basic_furnace": "Basic Furnace",
        "alchemical_assembler": "Alchemical Assembler",
        "alchemical_sieve": "Alchemical Sieve",
        "alchemical_cauldron": "Alchemical Cauldron",
        "alchemical_still": "Alchemical Still",
        "alchemical_grinder": "Alchemical Grinder",
    },
    scripts: {
        "basic_extractor/white_matter": "White Matter",
        "basic_prism/white": "Split White",
        "basic_compressor/air": "Compress -> Aer",
        "basic_compressor/water": "Compress -> Aqua",
        "basic_compressor/fire": "Compress -> Ignis",
        "basic_compressor/earth": "Compress -> Terra",
        "basic_compressor/order": "Compress -> Ordo",
        "basic_furnace/brown": "Burn -> Brown Matter",
        "basic_furnace/gray": "Burn -> Grey Matter",
        "basic_mixer/purple_goo": "Mix -> Purple Goo",
        "basic_mixer/lime_goo": "Mix -> Lime Goo",
        "basic_assembler/white_mechwork": "White Mechwork",
        "basic_assembler/network_assembly": "Networking Assembly",
        "basic_assembler/alchemical_assembly": "Alchemical Assembly",
        "alchemical_cauldron/gunpowder": "Gunpowder",
        "alchemical_cauldron/aqua_regia": "Mundane Acids - Aqua Regia",
        "alchemical_cauldron/gold_powder": "Gold Powder",
        "alchemical_cauldron/moon_water": "Moon Water",
        "alchemical_grinder/gravel": "Gravel",
        "alchemical_grinder/sulfur_dust": "Sulfur Dust",
        "alchemical_grinder/sun_stone": "Sun Stone",
        "alchemical_sieve/gravel": "Sieve Gravel",
        "alchemical_still/aqua_fortis": "Mundane Acids - Aqua Fortis",
        "alchemical_still/dirt": "Dirt",
        "alchemical_still/tar": "Tar",
        "alchemical_assembler/melanose_stone": "Melanose Stone / Magnum Opus I: Nigredo",
        "alchemical_assembler/leucose_stone": "Leucose Stone / Magnum Opus II: Albedo",
        "alchemical_assembler/xanthose_stone": "Xanthose Stone / Magnum Opus III: Citrinitas",
        "alchemical_assembler/philosophers_stone": "Philosopher's Stone / Magnum Opus IV: Rubedo",
    },
    research: {
        "basic_assembler_name": "Colouragy - Basic Assembler",
        "basic_assembler_desc": "You wonder what lies inside those colours, and you wonder how you can utilize them...",
        "basic_assembler_done": "Ah, so these colours are somehow magically malleable... you can combine and shape them to make interesting things- well, more interesting than blobs of colours.",
        "basic_prism_name": "Colouragy - Basic Prism",
        "basic_prism_desc": "If they're *malleable*, are they *separable*... And are there intrinsic relationships in colours?",
        "basic_prism_done": "Mhm, you were correct on this. These colours can be made up of different ones- colours add up 'brighter'- Red, Green and Blue make up the colour White. You wonder if there's other ways to split the colour... this should be enough for now though.",
        "basic_sorter_name": "Logistics - Basic Sorter",
        "basic_sorter_desc": "Machines like the Prism produce multiple items at once. Of course, you can simply only utilize one of them, but...",
        "basic_sorter_done": "You've devised a 'Sorter' Tile which can sort input- if the item matches, it proceeds to the direction the sorter points to; if not, it proceeds to the direction you've marked with an cross. You'll probably chain those to utilize all the outputs.",
        "basic_furnace_name": "Alchemy - Basic Furnace",
        "basic_furnace_desc": "Red Matter- it almost looks like it's burning- you wonder...",
        "basic_furnace_done": "Sure, it's red, it's hot and it... rocks? No matter, it does burn. You have created a simple device for that fuel to burn... other stuff. Hm, didn't some Prometheus guy... uh... you decide not to think about this too much.",
        "basic_compressor_name": "Alchemy - Basic Compressor",
        "basic_compressor_desc": "Grey Matter- when Blue Matter gets heated up- might have some uses?",
        "basic_compressor_done": "Aha, it seems that with some Grey Matter, you can 'compress' things. These ethereal... materials?- that you can create with this machine- seems to have some greater uses.",
        "basic_mixer_name": "Alchemy - Basic Mixer",
        "basic_mixer_desc": "Blue Matter- seems to dissolve and absort whatever it touches?",
        "basic_mixer_done": "You... honestly are not quite sure the use for these gooey stuff. Maybe time will tell... Or if you had fingers, you could probably play with them.",
        "alchemical_assembler_name": "Alchemy - Alchemical Assembler",
        "alchemical_assembler_desc": "These... alchemical... elements...? They seem to have more capabilities than the simple colours.",
        "alchemical_assembler_done": "You've devised a way to create an Alchemical Assembly with your lower-tier Basic Assembler.
It does need the White Mechwork as a basis, however... You wonder if there'd be other ways to create these mechanism. You'll need these a lot, probably.

Oh, you also found out that you'll need to somehow distribute items across large distances. You've figured out a way to 'link' these special two machines together- the link is not an equal two-way relationship, however.

You've decided to call one of them the 'Master Node' and the other simply 'Node'.
The Node will send a Request to the master node, and the Master Node will *extract* items from a Storage and then send it back to the Node, and the node will try to send it to its own target.",
        "alchemical_still_name": "Alchemy - Extraction",
        "alchemical_still_desc": "Tangible resources from Magic.",
        "alchemical_cauldron_name": "Alchemy - Infusion",
        "alchemical_cauldron_desc": "Tangible resources from Magic.",
        "alchemical_sieve_name": "Alchemy - Separation",
        "alchemical_sieve_desc": "Tangible resources from Magic.",
        "alchemical_grinder_name": "Alchemy - Purification",
        "alchemical_grinder_desc": "Tangible resources from Magic.",
        "alchemical_collector_name": "What opposes the brightness of this floor...",
        "alchemical_collector_desc": "...is the darkness that is needed for balance.",
        "alchemical_collector_done": "White and Light - Black and Dark. It seems that while the ground below is infinitely Bright, the air around is infinitely Dark. This will prove to be useful...",
        "philosophers_stone_name": "<< - Magnum Opus - >>",
        "philosophers_stone_desc": "Shiny and rare, bright and gilded. You want to make this an easier process before all else. You're not sure why yet, but...",
        "philosophers_stone_done": "Finally... your Magnum Opus. With this magical orb, you can turn junk into Gold- This is just what you wanted!
You're still not quite sure the reasons to produce Gold... It will be useful. It WILL be useful. It just looks SO magnificent. It MUST be of importance.
You've done a lot to get this stone, too. Surely it has other uses than just making Gold. Maybe not in this form, but with some tweaking...

<!- DEMO END -!>
Thank you for playing the automancy! demo! If you liked it (or didn't like it), please send feedback our way. Socials are in the title screen!
Once again, thank you very much for playing so far! 💜",
    },
    categories: {
        "assembler": "Assemblers",
        "producer": "Producers",
        "basic_processor": "Basic Processors",
        "transfer": "Trasnfer Tiles",
        "network": "Network Tiles",
        "utility": "Utility Tiles",
        "alchemy": "Alchemical Machines",
    },
    gui: {
        "info": "Information",
        "options": "Options",
        "player_menu": "Player Menu",
        "debug_menu": "Debug",
        "delete_map": "Delete Map",
        "load_map": "Load Map",
        "time_fmt": "%x at %r",
        "invalid_name": "Invalid Name!",
        "create_map": "Create Map",
        "error_popup": "Error",
        "tile_config": "Config",

        "options_graphics": "Graphics",
        "options_graphics_ui_scale": "UI Scale:",
        "options_graphics_ui_scale_small": "Small",
        "options_graphics_ui_scale_normal": "Normal",
        "options_graphics_ui_scale_large": "Large",
        "options_audio": "Audio",
        "options_gui": "GUI",
        "options_controls": "Controls",

        "tip_inventory": "Click on the items in the inventory to collect them into your own!",
        "tip_script": "A Script is like a 'recipe' for the Tile to operate on, it specifies what the Tile consumes and what it produces.",
        "tip_direction": "Which direction the Tile is facing. This means a Connection to another tile, whether it be an 'extraction' source or an 'output' destination.",
        "tip_linkage": "Click on the button to start Linking, and then right click a Tile to link to one (of many) Destination.",

        "tip_search": "Filter with name...",
        "tip_search_script": "Filter with Script name...",
        "tip_search_item": "Filter with Item name...",

        "tile_config_inventory": "Inventory:",
        "tile_config_script": "Script:",
        "tile_config_direction": "Direction:",
        "tile_config_linkage": "Linkage:",
        "tile_config_item_type": "Item Type:",
        "tile_config_capacity": "Storage Capacity:",

        "tile_config_link_button": "Start linking!",
        "tile_config_empty_inventory": "... Empty. :(",

        "lbl_maps_loaded": "{maps_number} maps loaded",
        "lbl_delete_map_confirm": "This will permanently delete this map. Are you sure?",
        "lbl_pick_another_name": "Please pick another name.",
        "lbl_cannot_place_missing_item": "You need one '{item_name}' item in order to place this tile",

        "btn_fedi": "Fedi",
        "btn_confirm": "Ok",
        "btn_exit": "Quit",
        "btn_load": "Load",
        "btn_source": "Source",
        "btn_options": "Options",
        "btn_cancel": "Cancel",
        "btn_new_map": "New Map",
        "btn_play": "Play",
        "btn_delete": "Delete",
        "btn_unpause": "Unpause",

        "research_menu_title": "Researches",
        "player_inventory_title": "Player Inventory",
        "research_submit_items": "Submit items from inventory",
    },
    keys: {
        "cancel": "Cancel / Back / Pause",
        "pause": "Pause",
        "undo": "Undo",
        "redo": "Redo",
        "toggle_gui": "Toggle the gui",
        "player_menu": "Open player menu",
        "remove_tile": "Quick remove tile",
        "select_mode": "Select/group tiles",
        "hotkey": "Hotkey",
        "cut": "Cut",
        "copy": "Copy",
        "paste": "Paste",
    },
)
