(
    id: "master_node",
    script: "master_node",
    category: "network",
    data: {
        "tile_model": Id("tile/master_node"),
        "base_model": Id("tile/base/network"),
        "core:direction_color": Color("ff955e"),
    },
)
