(
    id: "master_node",
    function: Some("master_node"),
    category: Some("network"),
    data: ({
        "tile_model": Id("tile/master_node"),
        "base_model": Id("tile/base/network"),
        "core:direction_color": Color("ff955e"),
    }),
)