(
    id: "small_storage",
    script: "storage",
    category: "network",
    data: {
        "tile_model": Id("tile/small_storage"),
        "base_model": Id("tile/base/network"),
        "core:default_tile": Bool(true),
        "item_type": Id("any"),
    },
)
