(
    id: "alchemical_grinder",
    icon: Tile("alchemical_grinder"),
    unlocks: ["alchemical_grinder"],
    depends_on: "alchemical_assembler",
    name: "alchemical_grinder_name",
    description: "alchemical_grinder_desc",
    completed_description: "alchemical_grinder_done",

    required_items: [
        ("alchemical_assembly", 1),
        ("earth", 8),
    ],
    attached_puzzle: None,
)
