(
    id: "alchemical_assembler/leucose_stone",
    inputs: [
        ("melanose_stone", 1),
        ("moon_water", 512),
        ("sun_stone", 512),
        ("mercury", 128),
    ],
    output: [
        ("leucose_stone", 1),
    ],
)
