(
    id: "alchemical_assembler/melanose_stone",
    inputs: [
        ("tar", 128),
        ("gold_powder", 128),
        ("gunpowder", 1024),
    ],
    output: [
        ("melanose_stone", 1),
    ],
)
