(
    id: "basic_furnace/brown",
    instructions: (
        inputs: Some([
            ("red_matter", 4),
            ("green_matter", 16),
        ]),
        output: [
            ("brown_matter", 16),
        ],
    ),
)