(
    id: "basic_furnace/gray",
    instructions: (
        inputs: Some([
            ("red_matter", 4),
            ("blue_matter", 4),
        ]),
        output: [
            ("gray_matter", 32),
        ],
    ),
)