(
    id: "alchemical_cauldron/aqua_regia",
    instructions: (
        inputs: Some([
            ("water", 2),
            ("sal_ammoniac", 64),
            ("aqua_fortis", 64),
        ]),
        output: [
            ("aqua_regia", 128),
        ],
    ),
)