(
    id: "alchemical_cauldron/gold_powder",
    instructions: (
        inputs: Some([
            ("water", 2),
            ("gold_scrap", 256),
            ("aqua_regia", 128),
        ]),
        output: [
            ("gold_powder", 128),
        ],
    ),
)