(
    id: "alchemical_still/aqua_fortis",
    instructions: (
        inputs: Some([
            ("fire", 2),
            ("niter_dust", 64),
        ]),
        output: [
            ("aqua_fortis", 64)
        ],
    ),
)