(
    id: "alchemical_still/tar",
    instructions: (
        inputs: Some([
            ("fire", 2),
            ("coal_dust", 1024),
        ]),
        output: [
            ("tar", 128)
        ],
    ),
)