(
    id: "basic_furnace",
    icon: Tile("basic_furnace"),
    unlocks: ["basic_furnace"],
    depends_on: "basic_sorter",
    name: "basic_furnace_name",
    description: "basic_furnace_desc",
    completed_description: "basic_furnace_done",

    required_items: [
        ("red_matter", 64),
    ],
    attached_puzzle: None,
)
