(
    id: "basic_prism",
    icon: "tile/basic_prism",
    icon_mode: Tile,
    unlocks: ["basic_prism"],
    depends_on: Some("basic_assembler"),
    name: "basic_prism_name",
    description: "basic_prism_desc",
    completed_description: "basic_prism_done",
    required_items: Some([
        ("white_mechwork", 16),
    ]),
    attached_puzzle: Some(("puzzles/connection_puzzle", ({
        "anchors": TileMapOffsetCoord([
            ((0, 0), "item/red_matter"),
            ((0, 2), "item/green_matter"),
            ((2, 1), "item/blue_matter")
        ]),
        "selections": VecId([
            "item/red_matter",
            "item/green_matter",
            "item/blue_matter",
            "item/white_matter",
        ]),
        "connections": MapSetId([
            ("item/white_matter", [
                "item/red_matter", 
                "item/green_matter", 
                "item/blue_matter"
            ]),
        ])
    }))),
)
