(
    id: "basic_sorter",
    icon: Tile("basic_sorter"),
    unlocks: ["basic_sorter"],
    depends_on: "basic_prism",
    name: "basic_sorter_name",
    description: "basic_sorter_desc",
    completed_description: "basic_sorter_done",

    required_items: [
        ("white_matter", 64),
        ("white_mechwork", 32),
    ],
    attached_puzzle: None,
)
