(
    id: "merger",
    function: Some("merger"),
    model: "tile/merger",
    data: ({
        "core:category": Id("transfer"),
        "core:direction_color": Color("ff4a40"),
        "core:default_tile": Bool(true),
    }),
)