(
    id: "splitter_right",
    script: "splitter_right",
    category: "transfer",
    data: {
        "tile_model": Id("tile/splitter_right"),
        "base_model": Id("tile/base/transfer"),
        "core:default_tile": Bool(true),
    },
)
