(
    id: "splitter_left",
    function: Some("splitter_left"),
    category: Some("transfer"),
    data: ({
        "tile_model": Id("tile/splitter_left"),
        "core:default_tile": Bool(true),
    }),
)