(
    id: "splitter_left",
    function: Some("splitter_left"),
    model: "tile/splitter_left",
    data: ({
        "core:category": Id("transfer"),
        "core:default_tile": Bool(true),
    }),
)