(
    id: "splitter_left",
    script: "splitter_left",
    category: "transfer",
    data: {
        "tile_model": Id("tile/splitter_left"),
        "base_model": Id("tile/base/transfer"),
        "core:default_tile": Bool(true),
    },
)
