(
    id: "splitter_right",
    function: Some("splitter_right"),
    category: Some("transfer"),
    data: ({
        "tile_model": Id("tile/splitter_right"),
        "base_model": Id("tile/base/transfer"),
        "core:default_tile": Bool(true),
    }),
)