(
    id: "basic_assembler",
    function: Some("machine"),
    model: "tile/basic_assembler",
    data: ({
        "category": Id("basic_processor"),
        "scripts": VecId([
            "white_mechwork",
        ]),
    }),
)
