(
    id: "basic_assembler",
    function: Some("machine"),
    category: Some("assembler"),
    model: "tile/basic_assembler",
    data: ({
        "scripts": VecId([
            "white_mechwork",
            "network_assembly",
            "alchemical_assembly",
        ]),
    }),
)
