(
    id: "basic_compressor",
    script: "machine",
    category: "basic_processor",
    data: {
        "tile_model": Id("tile/basic_compressor"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "basic_compressor/fire",
            "basic_compressor/water",
            "basic_compressor/air",
            "basic_compressor/earth",
        ]),
    },
)
