(
    id: "basic_compressor",
    function: Some("machine"),
    category: Some("basic_processor"),
    model: "tile/basic_compressor",
    data: ({
        "scripts": VecId([
            "basic_compressor_fire",
            "basic_compressor_water",
            "basic_compressor_air",
            "basic_compressor_earth",
            "basic_compressor_order",
        ]),
    }),
)
