(
    id: "basic_extractor",
    function: Some("machine"),
    category: Some("basic_producer"),
    model: "tile/basic_extractor",
    data: ({
        "scripts": VecId([
            "white_matter",
        ]),
        "core:default_tile": Bool(true),
    }),
)
