(
    id: "basic_furnace",
    function: Some("machine"),
    category: Some("basic_processor"),
    data: ({
        "tile_model": Id("tile/basic_furnace"),
        "base_model": Id("tile/base/crafting"),
        "scripts": VecId([
            "basic_furnace/brown",
            "basic_furnace/gray",
        ]),
    }),
)
