(
    id: "basic_furnace",
    function: Some("machine"),
    category: Some("basic_processor"),
    model: "tile/basic_furnace",
    data: ({
        "scripts": VecId([
            "basic_furnace/brown",
            "basic_furnace/gray",
        ]),
    }),
)
