(
    id: "basic_mixer",
    script: "machine",
    category: "basic_processor",
    data: {
        "tile_model": Id("tile/basic_mixer"),
        "base_model": Id("tile/base/crafting"),
        "recipes": IdList([
            "basic_mixer/purple_goo",
            "basic_mixer/lime_goo",
        ]),
    },
)
