(
    id: "basic_mixer",
    function: Some("machine"),
    category: Some("basic_processor"),
    model: "tile/basic_mixer",
    data: ({
        "scripts": VecId([
            "basic_mixer/purple_goo",
            "basic_mixer/lime_goo",
        ]),
    }),
)
