(
    id: "basic_prism",
    function: Some("machine"),
    category: Some("basic_processor"),
    data: ({
        "tile_model": Id("tile/basic_prism"),
        "scripts": VecId([
            "basic_prism/white",
        ]),
    }),
)
