(
    id: "basic_prism",
    function: Some("machine"),
    model: "tile/basic_prism",
    data: ({
        "category": Id("basic_processor"),
        "scripts": VecId([
            "basic_prism_white",
        ]),
    }),
)
