(
    id: "basic_sorter",
    function: Some("basic_sorter"),
    category: Some("transfer"),
    model: "tile/basic_sorter",
    data: ({
        "core:direction_color": Color("98ffa0"),
        "item_type": Id("core:#any"),
    }),
)