(
    id: "basic_sorter",
    function: Some("basic_sorter"),
    model: "tile/basic_sorter",
    data: ({
        "category": Id("transfer"),
        "item_type": Id("core:#any"),
        "direction_color": Color("98ffa0"),
    }),
)