(
    id: "basic_prism_white",
    instructions: (
        inputs: Some([
            ("white_matter", 6),
        ]),
        output: [
            ("red_matter", 2),
            ("green_matter", 2),
            ("blue_matter", 2),
        ],
    ),
)